/** * {
  border: 1px solid red !important;
}**/

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.flex-parent {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.flex-parent {
  box-shadow: 1px 1px 5px #888888;
}

.flex-child {
  margin: auto;
  flex-grow: 1;
  flex-basis: auto;
}



h2 {
font-size: calc(16px + 3vw);
font-family: 'Amatic SC', cursive;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: #0055B8;
}

/*.flex-parent {
  background-color: #89A8CC;
}*/

/*.btn {
  max-width: 250px;
}*/

blockquote {
  margin-left: 20px;
  margin-top: 20px;;
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
}

.footer {
  font-size: calc(5px + 1vw);
}

@media all and (max-width: 800px) {
  .flex-parent {
    justify-content: space-around;
  }
}

@media all and (max-width: 600px) {
  .flex-parent {
    flex-direction: column;
    justify-content: center;
    /*flex: 0 0 100%;*/
  }

  .flex-child {
    height: calc(100% - 100px);
    display: block;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 2px;
  }

  }
